.AboutSolutions{
    height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.AboutSolutions-item h3{
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0px 0px 90px;
    text-transform: uppercase;
}