.BoxheaderSolutons{
    height: 800px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BoxheaderSolutons .BoxheaderSolutons-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.BoxheaderSolutons-box{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.BoxheaderSolutons-box img{
    width: 100%;
    padding: 0px 20px;
}
.BoxheaderSolutons-box p{
    color: #ffffff;
    font-family: proxima-nova;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 20px;
    padding: 0px 20px;
}
.BoxheaderSolutons-box button{
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #fff0;
    border: 1px solid white;
    color: white;
    margin-top: 100px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.BoxheaderSolutons-box button:hover{
    background-color: var(--my-color);
    border: 1px solid var(--my-color);
    transition: all .3s linear;
}
@media only screen and (max-width: 89.9374em){
    
}
@media only screen and (max-width: 78.9375em){
    
}
@media only screen and (max-width : 46.1875em){
    
}