.DeiGoals{
    background-color: var(--my-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.DeiGoals-body h3{
    color: #ffffff;
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0px 0px 90px;
    text-transform: uppercase;
}
.DeiGoals-body-des{
    color: #ffffff;
    font-family: proxima-nova;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.DeiGoals-body_box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}
.DeiGoals-body_box_item{
    padding: 20px;
}
.DeiGoals-body_box
.DeiGoals-body_box_item h5{
    color: #ffffff;
    font-family: proxima-nova;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.DeiGoals-body_box_item p{
    color: #ffffff;
    font-family: proxima-nova;
    font-size: 18px;
    line-height: 27px;
    margin: 18px 0px;
}
@media only screen and (max-width: 89.9374em){
    .DeiGoals-body{
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 78.9375em){
    .DeiGoals-body_box{
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width : 46.1875em){
    
}