.Emloy{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    height: auto;
}
.Emloy-body h3{
    color: #444444;
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0px 0px 50px;
    text-transform: uppercase;
}
.Emloy-container{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.Emloy-container::-webkit-scrollbar{
    display: none;
}
.Emloy-body_box{
    background-color: var(--my-color);
    scroll-snap-align: start;
    min-height: 470px;
    min-width: 1000px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(20%);
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}
.Emloy-body_box_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.Emloy-body_box_item_img{
    width: 80%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
    left: 30px;
}
.Emloy-body_box_item_img img{
    width: 100px;
    height: 100px;
    user-select: none;
}
.Emloy-body_box_item_profile{
    width: 80%;
    padding: 50px 0px;
}
.Emloy-body_box_item_profile p{
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin-top: 50px;
}
.Emloy-body_box_item_profile_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Emloy-body_box_item_profile_title img{
    width: 150px;
    height: 150px;
    border-radius: 100vh;
    z-index: 1;
}
.Emloy-body_box_item_profile_title_detail{
    margin-left: 20px;
}
.Emloy-body_box_item_profile_title_detail h3{
    color: #ffffff;
    font-size: 30px;
    line-height: 55px;
    margin: 0px;
    font-weight: 300;
    letter-spacing: 1px;
}
.Emloy-body_box_item_profile_title_detail h5{
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 300;
}
.Emloy-body-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Emloy-body-btn li{
    font-size: 30px;
    color: var(--my-color);
    cursor: pointer;
}
@media only screen and (max-width: 89.9374em){
    .Emloy-body h3{
        padding-left: 20px;
    }
    .Emloy-body_box_item_profile_title_detail{
        text-align: center;
    }
}
@media only screen and (max-width: 78.9375em){
    .Emloy-body_box_item_profile_title_detail{
        text-align: center;
    }
}
@media only screen and (max-width : 46.1875em){
    .Emloy-body_box_item_profile_title{
        flex-direction: column;
        
    }
    .Emloy-body_box_item_profile_title_detail{
        justify-content: center;
        text-align: center;
    }
}