.Form{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Form-form h3{
    color: #444444;
    font-family: proxima-nova;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin: 0px 20px 40px;
    text-align: center;
}
.Form-form p{
    color: #444444;
    font-family: proxima-nova;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 20px 64px;
    text-align: center;
}
.Form-form_item{
    width: 800px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.Form-form_item input, .Form-form_item select{
    width: 100%;
    height: 40px;
}
.Form-form_item textarea, 
.Form-form_item input, 
.Form-form_item select{
    background-color: #f5f8fa;
    color: #33475b;
    font-size: 15px;
    font-family: proxima-nova;
    line-height: 22px;
    padding: 9px 10px;
    border: 1px solid #c8e5f9;
    outline: none;
    caret-color: red;
}
.Form-form_item_label{
    color: #444444;
    font-family: proxima-nova;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px 0px 5px;
}
.Form-form_item_label span{
    color: red;
    font-size: 10px;
    margin-left: 3px;
}
.Form-form_item select option{
    background-color: rgb(236, 236, 255);
}
.Form-form_rules{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 40px;
}
.Form-form_rules input{
    margin-right: 10px;
    accent-color: blue;
    cursor: pointer;
}
.Form-form_rules label{
    color: #444444;
    font-family: proxima-nova;
    font-size: 13px;
}
.Form-form_item button{
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: proxima-nova;
    font-size: 18px;
    justify-content: center;
    line-height: 21.92px;
    padding: 10px 40px;
    text-align: center;
    border: none;
    transition: all .5s linear;
    background-color: #33475b;
    cursor: pointer;
}
.Form-form_item button:hover{
    background-color: var(--my-color);
    color: #444444;
}
@media only screen and (max-width: 63.9375em){
    .Form-form_item{
        width: auto;
    }
}