.OurProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
}
.OurProduct-body h3{
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0px 0px 90px;
    text-transform: uppercase;
}
.OurProduct-body_box{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}
.OurProduct-body_box h4{
    font-family: proxima-nova;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
}
.OurProduct-body_box h5{
    font-family: proxima-nova;
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
}
@media only screen and (max-width:  89.9375em){
    .OurProduct-body{
        padding: 20px;
    }
}
@media only screen and (min-width: 78.9376em) and (max-width: 89.9374em){
    .OurProduct-body{
        padding: 20px;
    }
}
@media only screen and (min-width: 46.1876em) and (max-width: 78.9375em){
    .OurProduct-body{
        padding: 20px;
    }
}
@media only screen and (max-width : 46.1875em){
    .OurProduct-body_box{
        grid-template-columns: 100%;
        row-gap: 10%;
    }
    .OurProduct-body{
        padding: 20px;
    }
}