.StatusLAK{
    padding: 50px 0px;
    display: flex;
    align-items: center;
}
.StatusLAK-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.StatusLAK-body h3{
    color: #444444;
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0px 0px 50px;
    text-transform: uppercase;
}
.StatusLAK-body p{
    color: #444444;
    font-family: proxima-nova;
    font-size: 24px;
    line-height: 30px;
    margin: 18px 0px;
}
.StatusLAK-body button{
    align-items: center;
    background-color: white;
    color: var(--my-color);
    display: inline-flex;
    font-family: proxima-nova;
    font-size: 24px;
    justify-content: center;
    line-height: 21.92px;
    margin: 50px 30px;
    padding: 10px 40px;
    text-align: center;
    border: 1px solid var(--my-color);
    cursor: pointer;
    transition: .2s all linear;
}
.StatusLAK-body button:hover{
    background-color: var(--my-color);
    color: white;
}
@media only screen and (max-width:  89.9375em){
    
}
@media only screen and (max-width: 89.9374em){
    .StatusLAK-body{
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 78.9375em){
    
}
@media only screen and (max-width : 46.1875em){
    
}