.WhereWeAre-body{
    display: grid;
    grid-template-columns: 50% 50%;
}
.WhereWeAre-body_item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.WhereWeAre-body_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.WhereWeAre-body_item_detail{
    padding-left: 30px;
}
.WhereWeAre-body_item_detail h3{
    color: #444444;
    font-family: proxima-nova;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 50px 0px 90px;
    text-transform: uppercase;
}
.WhereWeAre-body_item_detail h2{
    color: #444444;
    font-family: proxima-nova;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin: 0px 0px 18px;
}
.WhereWeAre-body_item_detail h4{
    color: #444444;
    font-family: proxima-nova;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 18px;
}
.WhereWeAre-body_item_detail h4 a{
    text-decoration: none;
    color: var(--my-color);
}
.WhereWeAre-body_item_detail p{
    color: #444444;
    font-family: proxima-nova;
    font-size: 18px;
    line-height: 27px;
    margin: 18px 0px;
}
.WhereWeAre-body_item_detail ul{
    padding-left: 20px;
}
.WhereWeAre-body_item_detail ul li{
    list-style: circle;
    margin: 10px;
    font-size: 18px;
}
@media only screen and (max-width:  89.9375em){
    
}
@media only screen and (min-width: 78.9376em) and (max-width: 89.9374em){
    
}
@media only screen and (max-width: 78.9375em){
    .WhereWeAre-body{
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width : 46.1875em){
    
}